@import '../../constants/style.module.scss';
.header-container{
    background-color: $mainColor;
    a{
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }
}