    @import '../../../constants/style.module.scss';
    .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        left: 0;
        background-color: #69b5932e;
        overflow-x: hidden;
        padding: 9px;
        padding-top: 20px;
        [class~='selected']{
            border-left: 2px solid #4CAF50;
            border-radius: none;
        };
        .info{
            border-bottom: 1px dotted #6ccca1;;
            .imgcontainer{
                padding: 10px;
            }
            .namecontainer{
                padding: 10px;
                h4{
                    text-align: center;
                    color: $mainColor;
                }
            }
        }
        .adminroles{
            color: $mainColor;
            border-bottom: 1px dotted $mainColor;
            .roleone{
                .today { padding: 10px;
                        i{
                            font-size: 15px;
                        }
                        span{
                            font-size: 14px;
                        }
                    }
                .nestedrole{
                    ul{
                        list-style: none;
                        li{
                            padding: 10px;
                            cursor: pointer;
                            font-size: 12px;
                            font-weight: bold;

                            &:hover{
                                background: $mainColor;
                                color: #fff;
                                border-radius: 5px;

                            }
                        }
                    }
                }
            }
            .roletwo{
                .ostate{
                        padding: 10px;
                        font-size: 17px;
                        font-weight: bold;
                        cursor: pointer;
                }
            }
        }
        [class~='float']{
            position:fixed;
            width:60px;
            height:60px;
            bottom:24px;
            left:84px;
            background-color:#0C9;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            i{
                font-size: 28px;
                padding: 17px;
            }
        }
      }