.cardcontainer{
    height: 80vh;
    display: grid;
    border-radius: 5px;
    .card{
        box-shadow: 0px 0px 9px 0px;
        .cardheader{
            border: none;
            background: transparent;
        }
        .pinfo{
           .cardtable{
               tr{
                th{
                    border-top: none;
                }
                td{
                    text-align: end;
                    border-top: none;
                }
               }
               
           }
        }
        .personame{
            text-align: center;
        }
        .pinout{
            padding: 10px;
            .pincontainer{
                display: flex;
                justify-content: space-between;
            }
            div{
                margin-top: 10px;
            }
        }
        .leavecontainer{
            padding: 10px;
            display: flex;
            justify-content: space-between;
            div {
                margin-top: 10px;
                min-width: 40%;
            }
        }
    }

}